{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ================ Inner banner ================ -->
<div class="inner-banner inner-banner-bg pt-70 pb-40">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 col-md-8 mb-30"> 
        <!-- page-title -->
        <div class="page-title">
          <h1>Customer Information</h1>
        </div>
        <!-- page-title end --> 
      </div>
      <div class="col-lg-4 col-md-4 mb-30"> 
        <!-- breadcrumb -->
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
        
        </ol>
        <!-- breadcrumb end --> 
      </div>
    </div>
  </div>
</div>
<!-- ================ Inner banner end ================ --> 

<!-- ================ Payment Information page ================ -->
<div class="detail-page pt-70 pb-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 mb-30">
        <form class="form-style-1" method="POST"  action="{% url 'mainapp:register_customer' %}"  >
        {% csrf_token %}
          <h4 class="mb-15">Customer Details</h4>
          
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Customer Name<span class="text-danger">*</span></label>
                {{form.customer_name}}
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Customer Phone<span class="text-danger">*</span></label>
                {{form.customer_phone_number}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label>Customer Id No<span class="text-danger">*</span></label>
                {{form.customer_id_no}}
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label>Customer Email<span class="text-danger">*</span></label>
                {{form.customer_email}}
              </div>
            </div>
           
          </div>
         
          <button type="submit" class="btn-style-1">Continue</button>
        </form>
      </div>
      <div class="col-lg-4 col-md-4">
        <aside> 
          <!-- filter widget -->
         
          <!-- filter widget end --> 
          <!-- help us -->
          
          <!-- help us end --> 
        </aside>
      </div>
    </div>
  </div>
</div>
<!-- ================ Payment Information page end ================ --> 

{% endblock content %}