{% load static %}

<!-- ================ Footer area ================ -->
<footer class="pt-50">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 mb-30"> 
          <!-- title -->
          <div class="title mb-10">
            <h3>About Us</h3>
          </div>
          <!-- title end --> 
          <!-- text -->
          <div class="text">
            <p>Lorem ipsum dolorn mdsvaghfdjhasgfhgf sit amet sectetur adipiscing elit amet consectetur scing elit amet consectetur adipiscing elit sed et eletum.</p>
            <p>Lorem ipsum dolor sit amet sectetur adipiscing elit amet consectetur scing elit amet.</p>
          </div>
          <!-- end text --> 
          <!-- footer social -->
          <div class="footer-social"> <a href=""><i class="fab fa-facebook-square"></i></a> <a href=""><i class="fab fa-twitter-square"></i></a> <a href=""><i class="fab fa-linkedin"></i></a> <a href=""><i class="fab fa-pinterest-square"></i></a> <a href=""><i class="fab fa-google-plus-square"></i></a> </div>
          <!-- footer social end --> 
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 mb-30"> 
          <!-- title -->
          <div class="title mb-10">
            <h3>Navigation</h3>
          </div>
          <!-- title end --> 
          <!-- footer link -->
          <ul class="footer-link">
            <li><i class="fas fa-caret-right"></i> <a href="/">Home</a> </li>
            <li><i class="fas fa-caret-right"></i> <a href="{% url "mainapp:contact_us" %}">Contact</a> </li>
          </ul>
          <!-- footer link end --> 
        </div>
        
   
      </div>
    </div>
  </div>
  <!-- footer copyright -->
  <div class="copyright text-center mt-20">© <span class="current-year"></span> All Rights Reserved.</div>
  <!-- footer copyright end --> 
</footer>
<!-- ================ Footer area end ================ --> 